/************* General Tags **************/
.ani{
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


body {
    height: 100vh;
    background: #231F26;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


.logo{
    height: 20vw;
    max-height: 80%;
}


.header-bar{
    height: 20vh;
    width: 100vw;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}


.spacer{
    width: 768px;

    margin: 6px 0px;

    border: #FFF solid 3px;
}


.scroll-container{
    width: 100vw;
    padding-top: 5vh;
    padding-bottom: 3vh;
    overflow: hidden;
    position: relative;

    display: flex;
    justify-content: center;
    flex-grow: 1;
}


.content-container{
    max-width: 768px;
    width: 80vw;

    display: flex;
    flex-direction: column;
    align-items: center;
}


.post{
    width: calc(100% - 4px);
    height: auto;
    margin-bottom: 3vh;

    display: flex;
    flex-direction: column;

    background: #333;
    border-radius: 25px;
}
.post.active{
    background: #383838;
    border: #F18E19 solid 2px;
}
.post:hover{
    background: #363636;
    border: #F18E19 solid 2px;
}


.post-header{
    width: calc(100% - 16px);
    height: 5vh;
    padding-top: 1vh;
    margin: 0px 16px;

    display: flex;

    border-bottom: #444444 solid 2px;
}


p{
    font-family: "Montserrat";
    text-align: left;
    color: #FFFFFF;
}


.date-label{
    margin: 0px 16px;

    font: 2vh "Glegoo";
    text-align: center;
    color: #999999;
}


.post-title{
    font: 2vh "Glegoo";
    text-align: left;
    color: #FFFFFF;

    flex-grow: 1;
}


.post-body{
    width: calc(100% - 48px);
    margin: 0px 16px 0px 32px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.post-body-full{
    width: calc(100% - 48px);
    height: auto;
    margin: 0px 16px 16px 32px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.post:hover .post-body-full.compressed{
    height: 16px !important;
}
.post-body-full.compressed{
    height: 0px;
}


.edit-title{
    max-width: 768px;
    width: 80vw;
    height: 5vh;

    font: 3vh "Glegoo";
    background: #444444;
    color:#FFFFFF;
    border:#FFF 1px solid;
}


.edit-container{
    max-width: 768px;
    width: 80vw;
    height: 55vh;
    padding-top: 3vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


textarea{
    width: 47%;
    height: 100%;
    font-family: "Glegoo";
    background: #444444;
    color:#FFFFFF;
    border:#FFF 1px solid;
    resize:none;
}


.preview{
    width: 47%;
    height: 100%;

    font-family: "Glegoo";
    color:#FFFFFF;
}


.submit{
    width: 20vw;
    height: 5vh;
    margin-top: 3vh;

    font: 3vh "Segoe UI";
    background: #444444;
    color:#FFFFFF;
    border:#333 1px solid;

    display: flex;
    justify-content: center;
    align-items: center;
}
.submit:hover{
    background: #3C75BC;
}


a{
    color: #BBBBFF;
    text-decoration: none;
}
a:hover{
    color: #BBBB66; 
}