{% extends 'blog/base.html' %}
{% load static %}

{% block header %}
	<title>Ceviri's Blog</title>
	<link rel='stylesheet' href="{% static 'blog/blog-css-main.css' %}">
	<link rel='stylesheet' href="//fonts.googleapis.com/css?family=Glegoo:700,400">
	<script src="{% static 'blog/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'blog/index.js' %}"></script>
{% endblock %}

{% block content %}
	<div class = 'header-bar'>
		<img class = 'logo' src="{% static 'blog/blog-header.png' %}">
	</div>
	<div class = 'spacer'></div>
	<div class = 'content-container'>
		{% for post in displayPosts %}
		<div class = 'post ani' onclick='toggle(this)'>
			<div class = 'post-header'>
				<div class = 'date-label'>{{ post.postTime|date:"Y.m.d H:i" }}</div>
				<div class = 'post-title'>{{ post.title }}</div>
			</div>
			<div class = 'post-body ani'>
				<p> {{ post.abstract | safe }}</p>
			</div>
            <div class = 'post-body ani hidden'>
    		    <p> {{ post.body | safe }}</p>
            </div>
		</div>
		{% endfor %}
	</div>
{% endblock %}

{% block postblock %}
{% endblock %}