{% load static %}

<html>
	<head>
		<title>Input Form</title>
		<meta name='viewport' content='width=device-width, initial-scale=1'>
		<link rel='stylesheet' href="{% static 'button/formstyle.css' %}">
		<script src="{% static 'woodcutter/jquery-3.2.1.min.js' %}"></script>
	</head>
	<body>
		<div class = 'content-container'>
			<div class='input-container'>
				<div class = 'textarea'>
					<textarea form='name' name='name'></textarea>
				</div>
				<div class = 'display'></div>
				<div class = 'button'></div>
				<div class = 'buttonReset'></div>
			</div>
		</div>
	</body>
    <script src="{% static 'button/main.js' %}"></script>
</html>